우리는 빅데이터 처리 -> 다 어디서 불러옴  
불러올 때 내부적으로 어떤 포맷으로 바꾸면 효과적  
우리는 넘파이만 배웠으니까 넘파이로 바꾸면 아주 효과적  
이게 좀 복잡

In [1]:
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips') # 연습 데이터 불러옴

In [3]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
type(tips) # pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

DataFrame은 pandas의 기본적인 자료형태  
그런데 그 자료형태는...  
결론적으로 얘기하면 판다스도 넘파이 기반  
얘 structured array를 이용해서 만들었다.  
즉 그걸 이용하면 column 뽑을 때 key 방식으로 뽑을 수 있다!

In [5]:
tips['day'] # structured array로 만들었기 때문에

0       Sun
1       Sun
2       Sun
3       Sun
4       Sun
5       Sun
6       Sun
7       Sun
8       Sun
9       Sun
10      Sun
11      Sun
12      Sun
13      Sun
14      Sun
15      Sun
16      Sun
17      Sun
18      Sun
19      Sat
20      Sat
21      Sat
22      Sat
23      Sat
24      Sat
25      Sat
26      Sat
27      Sat
28      Sat
29      Sat
       ...
214     Sat
215     Sat
216     Sat
217     Sat
218     Sat
219     Sat
220     Fri
221     Fri
222     Fri
223     Fri
224     Fri
225     Fri
226     Fri
227     Sat
228     Sat
229     Sat
230     Sat
231     Sat
232     Sat
233     Sat
234     Sat
235     Sat
236     Sat
237     Sat
238     Sat
239     Sat
240     Sat
241     Sat
242     Sat
243    Thur
Name: day, Length: 244, dtype: category
Categories (4, object): [Thur, Fri, Sat, Sun]

In [8]:
# pandas에서는 attribute 접근 방식 가능
# namedtuple의 성질을 이용하여 확장
tips.smoker

0       No
1       No
2       No
3       No
4       No
5       No
6       No
7       No
8       No
9       No
10      No
11      No
12      No
13      No
14      No
15      No
16      No
17      No
18      No
19      No
20      No
21      No
22      No
23      No
24      No
25      No
26      No
27      No
28      No
29      No
      ...
214    Yes
215    Yes
216    Yes
217    Yes
218    Yes
219    Yes
220    Yes
221    Yes
222    Yes
223     No
224    Yes
225    Yes
226    Yes
227     No
228     No
229    Yes
230    Yes
231    Yes
232     No
233     No
234    Yes
235     No
236    Yes
237    Yes
238     No
239     No
240    Yes
241    Yes
242     No
243     No
Name: smoker, Length: 244, dtype: category
Categories (2, object): [Yes, No]

In [10]:
tips.size() # TypeError: 'numpy.int64' object is not callable

TypeError: 'numpy.int64' object is not callable

In [11]:
tips.size # numpy 기반이기 때문에 column size가 아니라 진짜 size를 불러버림

1708

In [12]:
# structured array니까 키 방식으로 부르면 상관없음
tips['size']

0      2
1      3
2      3
3      2
4      4
5      4
6      2
7      4
8      2
9      2
10     2
11     4
12     2
13     4
14     2
15     2
16     3
17     3
18     3
19     3
20     2
21     2
22     2
23     4
24     2
25     4
26     2
27     2
28     2
29     2
      ..
214    3
215    2
216    5
217    2
218    2
219    4
220    2
221    2
222    1
223    3
224    2
225    2
226    2
227    4
228    2
229    2
230    4
231    3
232    2
233    2
234    2
235    2
236    2
237    2
238    3
239    3
240    2
241    2
242    2
243    2
Name: size, Length: 244, dtype: int64

In [13]:
# 간혹 column 이름에 공백이 있으면 attribute 방식으로 부를 수 없음
# 공백이 있으면 키 방식으로 부르면 된다. <- structued array이기 때문에
# 한 row씩 뽑아낼 수도 있음! <- structued array이기 때문에

In [16]:
tips[0]

KeyError: 0

In [17]:
tips.iloc[0] # 어떤 걸 하나 더 붙이고 index하면 된다.

total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object

In [18]:
tips.loc[0] # iloc와 loc의 차이점 나중에 알려줌

total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object

판다스의 DataFrame은 직사각형 형태, 즉 표 형태의 데이터 타입  
관계형 데이터베이스는 항상 이 구조로 관리.  
데이터를 효율적으로 사용, 저장할 수 있음.  
그래서 데이터 분석은 이런 2차원의 table 형태로 하면 가장 효율적으로 알려져 있고,  
그래서 모든 데이터 형태는 2차원의 직사각 데이터 형태.  
그래서 분석은 다 이러한 2차원 형태 기반으로 이루어지고  
분석 알고리즘을 사용하는 툴들도 기본적으로 다 2차원 형태의 테이블로 되어 있어야 한다.  
그렇게 만들었으니까!

판다스에서 맨 위 : column(또는 header)  
맨 왼쪽 : index  
2차원 데이터구조 얘 DataFrame

In [19]:
tips.tip # attribute 방식 사실 문제점이 있음 size같은 애, 공백, 특수문자가 있으면 사용할 수 없음.

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
5      4.71
6      2.00
7      3.12
8      1.96
9      3.23
10     1.71
11     5.00
12     1.57
13     3.00
14     3.02
15     3.92
16     1.67
17     3.71
18     3.50
19     3.35
20     4.08
21     2.75
22     2.23
23     7.58
24     3.18
25     2.34
26     2.00
27     2.00
28     4.30
29     3.00
       ...
214    6.50
215    1.10
216    3.00
217    1.50
218    1.44
219    3.09
220    2.20
221    3.48
222    1.92
223    3.00
224    1.58
225    2.50
226    2.00
227    3.00
228    2.72
229    2.88
230    2.00
231    3.00
232    3.39
233    1.47
234    3.00
235    1.25
236    1.00
237    1.17
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

그래도 편해서 attribute 방식을 지원했다! (numpy의 structured array에는 없음)  
그런데 이거때매 골치아픈 이슈가 또 더 있음.

In [20]:
tips['tip'] # key 방식

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
5      4.71
6      2.00
7      3.12
8      1.96
9      3.23
10     1.71
11     5.00
12     1.57
13     3.00
14     3.02
15     3.92
16     1.67
17     3.71
18     3.50
19     3.35
20     4.08
21     2.75
22     2.23
23     7.58
24     3.18
25     2.34
26     2.00
27     2.00
28     4.30
29     3.00
       ...
214    6.50
215    1.10
216    3.00
217    1.50
218    1.44
219    3.09
220    2.20
221    3.48
222    1.92
223    3.00
224    1.58
225    2.50
226    2.00
227    3.00
228    2.72
229    2.88
230    2.00
231    3.00
232    3.39
233    1.47
234    3.00
235    1.25
236    1.00
237    1.17
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [21]:
# 동시에 두 개 뽑을 수 있다.
tips[['day', 'time']]
# numpy로 만들었기 때문에!
# numpy의 fancyindexing 개념도 여기서 지원해준다.

      day    time
0     Sun  Dinner
1     Sun  Dinner
2     Sun  Dinner
3     Sun  Dinner
4     Sun  Dinner
5     Sun  Dinner
6     Sun  Dinner
7     Sun  Dinner
8     Sun  Dinner
9     Sun  Dinner
10    Sun  Dinner
11    Sun  Dinner
12    Sun  Dinner
13    Sun  Dinner
14    Sun  Dinner
15    Sun  Dinner
16    Sun  Dinner
17    Sun  Dinner
18    Sun  Dinner
19    Sat  Dinner
20    Sat  Dinner
21    Sat  Dinner
22    Sat  Dinner
23    Sat  Dinner
24    Sat  Dinner
25    Sat  Dinner
26    Sat  Dinner
27    Sat  Dinner
28    Sat  Dinner
29    Sat  Dinner
..    ...     ...
214   Sat  Dinner
215   Sat  Dinner
216   Sat  Dinner
217   Sat  Dinner
218   Sat  Dinner
219   Sat  Dinner
220   Fri   Lunch
221   Fri   Lunch
222   Fri   Lunch
223   Fri   Lunch
224   Fri   Lunch
225   Fri   Lunch
226   Fri   Lunch
227   Sat  Dinner
228   Sat  Dinner
229   Sat  Dinner
230   Sat  Dinner
231   Sat  Dinner
232   Sat  Dinner
233   Sat  Dinner
234   Sat  Dinner
235   Sat  Dinner
236   Sat  Dinner
237   Sat  Dinner
238   Sat  Dinner
239   Sat  Dinner
240   Sat  Dinner
241   Sat  Dinner
242   Sat  Dinner
243  Thur  Dinner

[244 rows x 2 columns]

In [23]:
type(tips[['day', 'time']]) # pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

In [24]:
type(tips['day']) # pandas.core.series.Series

pandas.core.series.Series

Series 맨 왼쪽은 데이터, 끝에 있는 건 데이터 (array).  
넘파이 기반!

In [26]:
tips.tip.values #arry([... numpy기반!

array([ 1.01,  1.66,  3.5 ,  3.31,  3.61,  4.71,  2.  ,  3.12,  1.96,
        3.23,  1.71,  5.  ,  1.57,  3.  ,  3.02,  3.92,  1.67,  3.71,
        3.5 ,  3.35,  4.08,  2.75,  2.23,  7.58,  3.18,  2.34,  2.  ,
        2.  ,  4.3 ,  3.  ,  1.45,  2.5 ,  3.  ,  2.45,  3.27,  3.6 ,
        2.  ,  3.07,  2.31,  5.  ,  2.24,  2.54,  3.06,  1.32,  5.6 ,
        3.  ,  5.  ,  6.  ,  2.05,  3.  ,  2.5 ,  2.6 ,  5.2 ,  1.56,
        4.34,  3.51,  3.  ,  1.5 ,  1.76,  6.73,  3.21,  2.  ,  1.98,
        3.76,  2.64,  3.15,  2.47,  1.  ,  2.01,  2.09,  1.97,  3.  ,
        3.14,  5.  ,  2.2 ,  1.25,  3.08,  4.  ,  3.  ,  2.71,  3.  ,
        3.4 ,  1.83,  5.  ,  2.03,  5.17,  2.  ,  4.  ,  5.85,  3.  ,
        3.  ,  3.5 ,  1.  ,  4.3 ,  3.25,  4.73,  4.  ,  1.5 ,  3.  ,
        1.5 ,  2.5 ,  3.  ,  2.5 ,  3.48,  4.08,  1.64,  4.06,  4.29,
        3.76,  4.  ,  3.  ,  1.  ,  4.  ,  2.55,  4.  ,  3.5 ,  5.07,
        1.5 ,  1.8 ,  2.92,  2.31,  1.68,  2.5 ,  2.  ,  2.52,  4.2 ,
        1.48,  2.  ,  2.  ,  2.18,  1.5 ,  2.83,  1.5 ,  2.  ,  3.25,
        1.25,  2.  ,  2.  ,  2.  ,  2.75,  3.5 ,  6.7 ,  5.  ,  5.  ,
        2.3 ,  1.5 ,  1.36,  1.63,  1.73,  2.  ,  2.5 ,  2.  ,  2.74,
        2.  ,  2.  ,  5.14,  5.  ,  3.75,  2.61,  2.  ,  3.5 ,  2.5 ,
        2.  ,  2.  ,  3.  ,  3.48,  2.24,  4.5 ,  1.61,  2.  , 10.  ,
        3.16,  5.15,  3.18,  4.  ,  3.11,  2.  ,  2.  ,  4.  ,  3.55,
        3.68,  5.65,  3.5 ,  6.5 ,  3.  ,  5.  ,  3.5 ,  2.  ,  3.5 ,
        4.  ,  1.5 ,  4.19,  2.56,  2.02,  4.  ,  1.44,  2.  ,  5.  ,
        2.  ,  2.  ,  4.  ,  2.01,  2.  ,  2.5 ,  4.  ,  3.23,  3.41,
        3.  ,  2.03,  2.23,  2.  ,  5.16,  9.  ,  2.5 ,  6.5 ,  1.1 ,
        3.  ,  1.5 ,  1.44,  3.09,  2.2 ,  3.48,  1.92,  3.  ,  1.58,
        2.5 ,  2.  ,  3.  ,  2.72,  2.88,  2.  ,  3.  ,  3.39,  1.47,
        3.  ,  1.25,  1.  ,  1.17,  4.67,  5.92,  2.  ,  2.  ,  1.75,
        3.  ])

In [27]:
tips.tip

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
5      4.71
6      2.00
7      3.12
8      1.96
9      3.23
10     1.71
11     5.00
12     1.57
13     3.00
14     3.02
15     3.92
16     1.67
17     3.71
18     3.50
19     3.35
20     4.08
21     2.75
22     2.23
23     7.58
24     3.18
25     2.34
26     2.00
27     2.00
28     4.30
29     3.00
       ...
214    6.50
215    1.10
216    3.00
217    1.50
218    1.44
219    3.09
220    2.20
221    3.48
222    1.92
223    3.00
224    1.58
225    2.50
226    2.00
227    3.00
228    2.72
229    2.88
230    2.00
231    3.00
232    3.39
233    1.47
234    3.00
235    1.25
236    1.00
237    1.17
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [29]:
tips.tip + 5 # broadcasting 된다! numpy format이니까

0       6.01
1       6.66
2       8.50
3       8.31
4       8.61
5       9.71
6       7.00
7       8.12
8       6.96
9       8.23
10      6.71
11     10.00
12      6.57
13      8.00
14      8.02
15      8.92
16      6.67
17      8.71
18      8.50
19      8.35
20      9.08
21      7.75
22      7.23
23     12.58
24      8.18
25      7.34
26      7.00
27      7.00
28      9.30
29      8.00
       ...
214    11.50
215     6.10
216     8.00
217     6.50
218     6.44
219     8.09
220     7.20
221     8.48
222     6.92
223     8.00
224     6.58
225     7.50
226     7.00
227     8.00
228     7.72
229     7.88
230     7.00
231     8.00
232     8.39
233     6.47
234     8.00
235     6.25
236     6.00
237     6.17
238     9.67
239    10.92
240     7.00
241     7.00
242     6.75
243     8.00
Name: tip, Length: 244, dtype: float64

In [30]:
tips.tip.sum() # numpy에서의 reduction 된다!

731.5799999999999

판다스도 넘파이 기반으로 되어 있다는 걸 보여주기 위함

가로로 한 줄도 sereis

왜 시리즈?  
우리가 스칼라와 방향 할 때는 방향 있다.  
어레이는 방향 없다.  
가로 방향이든 세로 방향이든 중요하지 않음. 다 시리즈

In [36]:
# 숫자 말고 문자로도 인덱스를 쓸 수 있음
tips.iloc[3] # 숫자 기반 접근 index location 이 번호대로 가지고 와라

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

slice 된다! 넘파이 기반이니까.

In [34]:
tips.iloc[3:6] # 6행 포함되지 않음.

   total_bill   tip     sex smoker  day    time  size
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

In [35]:
tips.loc[3]

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

In [37]:
# Note that contrary to usual python slices, both the start and the stop are included
tips.loc[3:6] # 6행도 포함된다. <- 차이

   total_bill   tip     sex smoker  day    time  size
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2

numpy indexing할 때 , ... making 조건 fancyindexing 이 다섯가지도 썼다

In [40]:
tips.loc[3,'day'] # 3번째의 'day'

'Sun'

In [41]:
tips.loc[3:6, 'day']

3    Sun
4    Sun
5    Sun
6    Sun
Name: day, dtype: category
Categories (4, object): [Thur, Fri, Sat, Sun]

In [43]:
tips.loc[3:6, ['day', 'smoker']] # 싹다 넘파이와 같다

   day smoker
3  Sun     No
4  Sun     No
5  Sun     No
6  Sun     No

In [45]:
tips.loc[3:6, ['smoker', 'tip']] # 순서 바꿔도 가져온다

  smoker   tip
3     No  3.31
4     No  3.61
5     No  4.71
6     No  2.00

In [46]:
tips.iloc[3:6,:-2] # 숫자니까 comma indexing/slicing 지원

   total_bill   tip     sex smoker  day
3       23.68  3.31    Male     No  Sun
4       24.59  3.61  Female     No  Sun
5       25.29  4.71    Male     No  Sun

In [47]:
tips.iloc[3:6,::-1] # 역순 다 numpy 기반이기 때문에

   size    time  day smoker     sex   tip  total_bill
3     2  Dinner  Sun     No    Male  3.31       23.68
4     4  Dinner  Sun     No  Female  3.61       24.59
5     4  Dinner  Sun     No    Male  4.71       25.29

In [49]:
# ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types
tips.iloc[3:6,...]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [51]:
tips[['tip','sex']] # 바뀐 채로 가지고 온다

      tip     sex
0    1.01  Female
1    1.66    Male
2    3.50    Male
3    3.31    Male
4    3.61  Female
5    4.71    Male
6    2.00    Male
7    3.12    Male
8    1.96    Male
9    3.23    Male
10   1.71    Male
11   5.00  Female
12   1.57    Male
13   3.00    Male
14   3.02  Female
15   3.92    Male
16   1.67  Female
17   3.71    Male
18   3.50  Female
19   3.35    Male
20   4.08    Male
21   2.75  Female
22   2.23  Female
23   7.58    Male
24   3.18    Male
25   2.34    Male
26   2.00    Male
27   2.00    Male
28   4.30    Male
29   3.00  Female
..    ...     ...
214  6.50  Female
215  1.10  Female
216  3.00    Male
217  1.50    Male
218  1.44    Male
219  3.09  Female
220  2.20    Male
221  3.48  Female
222  1.92    Male
223  3.00  Female
224  1.58    Male
225  2.50  Female
226  2.00  Female
227  3.00    Male
228  2.72    Male
229  2.88  Female
230  2.00    Male
231  3.00    Male
232  3.39    Male
233  1.47    Male
234  3.00    Male
235  1.25    Male
236  1.00    Male
237  1.17    Male
238  4.67  Female
239  5.92    Male
240  2.00  Female
241  2.00    Male
242  1.75    Male
243  3.00  Female

[244 rows x 2 columns]

In [52]:
tips[['tip']] # fancyindexing 방식을 쓰면 DF로 가지고옴 not series

      tip
0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
5    4.71
6    2.00
7    3.12
8    1.96
9    3.23
10   1.71
11   5.00
12   1.57
13   3.00
14   3.02
15   3.92
16   1.67
17   3.71
18   3.50
19   3.35
20   4.08
21   2.75
22   2.23
23   7.58
24   3.18
25   2.34
26   2.00
27   2.00
28   4.30
29   3.00
..    ...
214  6.50
215  1.10
216  3.00
217  1.50
218  1.44
219  3.09
220  2.20
221  3.48
222  1.92
223  3.00
224  1.58
225  2.50
226  2.00
227  3.00
228  2.72
229  2.88
230  2.00
231  3.00
232  3.39
233  1.47
234  3.00
235  1.25
236  1.00
237  1.17
238  4.67
239  5.92
240  2.00
241  2.00
242  1.75
243  3.00

[244 rows x 1 columns]

In [53]:
%time tips[['tip']]

CPU times: user 1.07 ms, sys: 60 µs, total: 1.13 ms
Wall time: 1.1 ms

      tip
0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
5    4.71
6    2.00
7    3.12
8    1.96
9    3.23
10   1.71
11   5.00
12   1.57
13   3.00
14   3.02
15   3.92
16   1.67
17   3.71
18   3.50
19   3.35
20   4.08
21   2.75
22   2.23
23   7.58
24   3.18
25   2.34
26   2.00
27   2.00
28   4.30
29   3.00
..    ...
214  6.50
215  1.10
216  3.00
217  1.50
218  1.44
219  3.09
220  2.20
221  3.48
222  1.92
223  3.00
224  1.58
225  2.50
226  2.00
227  3.00
228  2.72
229  2.88
230  2.00
231  3.00
232  3.39
233  1.47
234  3.00
235  1.25
236  1.00
237  1.17
238  4.67
239  5.92
240  2.00
241  2.00
242  1.75
243  3.00

[244 rows x 1 columns]

In [54]:
%time tips['tip'] # 제일 빠르다. numpy 그대로 썼으니까.

CPU times: user 19 µs, sys: 1 µs, total: 20 µs
Wall time: 21.9 µs

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
5      4.71
6      2.00
7      3.12
8      1.96
9      3.23
10     1.71
11     5.00
12     1.57
13     3.00
14     3.02
15     3.92
16     1.67
17     3.71
18     3.50
19     3.35
20     4.08
21     2.75
22     2.23
23     7.58
24     3.18
25     2.34
26     2.00
27     2.00
28     4.30
29     3.00
       ...
214    6.50
215    1.10
216    3.00
217    1.50
218    1.44
219    3.09
220    2.20
221    3.48
222    1.92
223    3.00
224    1.58
225    2.50
226    2.00
227    3.00
228    2.72
229    2.88
230    2.00
231    3.00
232    3.39
233    1.47
234    3.00
235    1.25
236    1.00
237    1.17
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [55]:
%time tips.tip

CPU times: user 35 µs, sys: 1 µs, total: 36 µs
Wall time: 39.1 µs

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
5      4.71
6      2.00
7      3.12
8      1.96
9      3.23
10     1.71
11     5.00
12     1.57
13     3.00
14     3.02
15     3.92
16     1.67
17     3.71
18     3.50
19     3.35
20     4.08
21     2.75
22     2.23
23     7.58
24     3.18
25     2.34
26     2.00
27     2.00
28     4.30
29     3.00
       ...
214    6.50
215    1.10
216    3.00
217    1.50
218    1.44
219    3.09
220    2.20
221    3.48
222    1.92
223    3.00
224    1.58
225    2.50
226    2.00
227    3.00
228    2.72
229    2.88
230    2.00
231    3.00
232    3.39
233    1.47
234    3.00
235    1.25
236    1.00
237    1.17
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [56]:
%time tips.loc[3]

CPU times: user 693 µs, sys: 39 µs, total: 732 µs
Wall time: 700 µs

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

In [57]:
%time tips.iloc[3]

CPU times: user 673 µs, sys: 33 µs, total: 706 µs
Wall time: 679 µs

total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object

In [61]:
%time tips.loc[3,'tip'] # numpy에서 온 애 , 제일 빠르다.

CPU times: user 55 µs, sys: 1 µs, total: 56 µs
Wall time: 57.9 µs

3.31

In [62]:
%time tips.iat[3,5] # 하나만 가져오는 애들 iat은 index 방식으로
# 엄청나게 클 때는 얘가 더 빠를 때도 있음
# 보통 i붙은 애가 더 빠름 <- 숫자 기반이기 때문에

CPU times: user 72 µs, sys: 1e+03 ns, total: 73 µs
Wall time: 75.1 µs

'Dinner'

In [63]:
%time tips.at[3,'time'] # 하나만 가져오는 애들 at은 이름으로
# 그래도 상황에 따라서 다르게 선택해서 쓴다!

CPU times: user 100 µs, sys: 1 µs, total: 101 µs
Wall time: 105 µs

'Dinner'