In [2]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [3]:
sqlite3.version_info

(2, 6, 0)

In [4]:
sqlite3.sqlite_version

'3.27.2'

In [5]:
#처음은 디비서버가 있다는 가정하에 디비 서버 접속

In [6]:
conn=sqlite3.connect(':memory:') #connection반환 dbms랑 왔다갔다 하는애

In [7]:
type(conn)

sqlite3.Connection

In [9]:
cur = conn.cursor() ##커서를 생성한다.

In [10]:
type(cur)

sqlite3.Cursor

In [11]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [12]:
dir(conn)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'backup',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

In [13]:
#execute는 conn에도 있다 임시로 cursor를 생성한다 cur에 있는 것이 정석이다.cursor개체를 받아야 한다.
#conn은 db에 접근하기 위해사 핗요함
#execute 하나의 문을 받아서 실행 하는 애
#executemany 하나의 sql문을 가지고 sequential처리
#executescript는 여러개의 sql문
#fetchall 모든 결과를 가져옴 리스트형태로
#fetchone 하나만 가져옴
#fetchmany 지정된 것만큼 가져옴

In [19]:
cur.execute("select sqlite_version();")

In [20]:
cur.fetchall()

[('3.27.2',)]

In [21]:
sqlite3.complete_statement("select sqlite_version();")  #sql구문이 올바르게 마지막까지 썻는지 확인

True

In [22]:
#SQLLITE에서의 데이터 타입

In [23]:
#NULL INTEGER REAL TEXT BLOB

In [25]:
cur.execute("create table people(name_last,age)")

who="moon"
age =72

cur.execute("insert into people values (?,?)",(who,age))  #파라미터를 ?로 넘기는게 qmark style
cur.execute("select * from people where name_last=:who and age=:age",{"who":who,"age":age})

print(cur.fetchone())

('moon', 72)

In [27]:
sql ="insert into people values(?,?)"
curData =[('A',1),('B',2),('C',3)]
curData =
cur.executemany(sql,curData)

In [28]:
datadict=[{"who":"E","age":1},{"who":"F","age":1},{"who":"G","age":1},{"who":"H","age":1}]
cur.executemany("INSERT INTO people VALUES(:who,:age)",datadict)

In [29]:
cur.execute("SELECT * FROM people")
cur.fetchall()

[('moon', 72),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('E', 1),
 ('F', 1),
 ('G', 1),
 ('H', 1)]

In [31]:
cur.executescript("""        #여러 sql을 쓰는 경우 select를 안에서 해도 안먹힌다. 밖에서 select를 한다.
    create table person(
        first_name text primary key,
        last_name text not null);
        
    insert into person values('name','kim');
""")

In [32]:
cur.execute('select * from person')
print(cur.fetchall())

[('name', 'kim')]

In [33]:
conn.close()

In [34]:
conn

In [35]:
cur

In [7]:
conn=sqlite3.connect('createasdasdasdasd.db')
cur=conn.cursor()
cur.execute('''
CREATE TABLE COMPANY(
    ID INT PRIMARY KEY NOT NULL,
    NAME TEXT NOT NULL,
    AGE INT NOT NULL,
    ADDRESS CHAR(50),
    seen BOOLEAN DEFAULT FALSE NOT NULL,
    SALARY REAL);''')

In [5]:
cur.execute('drop table company')

In [8]:
cur.execute("INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY) VALUES (1,'paul',32,'Cali',2000.20)");
cur.execute("INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY) VALUES (:id,:name,:age,:address,:salary)",
           {'id':2,'name':'cho','age':2,'address':'aa','salary':100000.00});

data=[(3,'aa',23,'dsda',2000000.00),(4,'ada',3,'dsaada',4000000.00)]

cur.executemany("INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY) VALUES(?,?,?,?,?)",data);
cur.executescript("""
INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
 VALUES (5,'SADADA',25,'RICH-MOND',65555.00);
 INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
 VALUES (6,'SADA',5,'RICH-MOND',6232355.00);
 """);

#conn.commit()

In [9]:
conn.commit()

In [22]:
cur.execute("SELECT ID FROM COMPANY WHERE seen='FALSE'");

In [15]:
for i in cur:
    print(i)

In [67]:
cur.lastrowid

6

In [68]:
cur.execute("SELECT id, name , address, salary from COMPANY")

for row in cur:
    print("ID= ",row[0])
    print(type(row[0]))
    print("NAME= ",row[1])
    print(type(row[1]))
    print("ADDRESS= ",row[2])
    print(type(row[2]))
    print("SALARY= ",row[3])
    print(type(row[3]))

ID=  1
<class 'int'>
NAME=  paul
<class 'str'>
ADDRESS=  Cali
<class 'str'>
SALARY=  2000.2
<class 'float'>
ID=  2
<class 'int'>
NAME=  cho
<class 'str'>
ADDRESS=  aa
<class 'str'>
SALARY=  100000.0
<class 'float'>
ID=  3
<class 'int'>
NAME=  aa
<class 'str'>
ADDRESS=  dsda
<class 'str'>
SALARY=  2000000.0
<class 'float'>
ID=  4
<class 'int'>
NAME=  ada
<class 'str'>
ADDRESS=  dsaada
<class 'str'>
SALARY=  4000000.0
<class 'float'>
ID=  5
<class 'int'>
NAME=  SADADA
<class 'str'>
ADDRESS=  RICH-MOND
<class 'str'>
SALARY=  65555.0
<class 'float'>
ID=  6
<class 'int'>
NAME=  SADA
<class 'str'>
ADDRESS=  RICH-MOND
<class 'str'>
SALARY=  6232355.0
<class 'float'>

In [59]:
conn.close()