In [37]:
import sqlite3

In [220]:
cur.execute('drop table Artist') ######## 삭제
cur.execute('drop table album')
cur.execute('drop table genre')
cur.execute('drop table track')

In [221]:
conn = sqlite3.connect('create2.db')

In [222]:
cur = conn.cursor()

In [223]:
cur.executescript("""
    CREATE TABLE Artist(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, 
        name TEXT);
    CREATE TABLE Genre(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT);
    CREATE TABLE Album (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT,
        artist_id INTEGER
        )
    """)

In [224]:
## 오토인크리멘트

In [225]:
cur.executescript("""
    CREATE TABLE Track(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, 
        title TEXT,
        length INTEGER,
        rating INTEGER,
        count INTEGER,
        album_id INTEGER,
        genre_id INTEGER
        )
    """)

In [226]:
cur.executescript ( """
                    INSERT INTO Artist (name)
                    VALUES ('Led Zepplin');
                    
                    INSERT INTO Artist (name)
                    VALUES ('AC/DC');
                    
                    """);

In [227]:
cur.executescript ( """
                    INSERT INTO genre (name)
                    VALUES ('Rock');
                    
                    INSERT INTO genre (name)
                    VALUES ('Metal');
                    
                    """);

In [228]:
conn.commit()

In [229]:
#cur.execute(
#""" 
#    INSERT INTO album (title, artist_id)
 #   VALUES(:album, 
 #   (SELECT id
 #   FROM artist
 #   WHERE name = :artist))
#""", {"album": "adasd", "artist":"Led Zepplin"});

In [230]:
cur.executescript(
"""
        insert into Album (title, artist_id) values ("who made who",2);
        insert into album (title, artist_id) values ('IV',1);
""");

In [231]:
cur.executescript(
"""
        insert into track (title, rating, length, count, album_id, genre_id) values ("black dog", 5, 297, 0, 2,1);
        insert into track (title, rating, length, count, album_id, genre_id) values ('stairway',5, 482, 0, 2, 1);
        insert into track (title, rating, length, count, album_id, genre_id) values ('abot to rock', 5, 313, 0, 1, 2);
        insert into track (title, rating, length, count, album_id, genre_id) values ('who made who', 5, 207, 0, 1, 2);
"""
);

In [ ]:
#############################################

In [232]:
cur.execute(
""" 
    select Album.title, Artist.name
    from Album
    join Artist on 
    Album.artist_id = artist.id;
""");

In [234]:
for i in cur:
    print(i)

('who made who', 'AC/DC')
('IV', 'Led Zepplin')

In [240]:
cur.execute(
""" 
    select Track.title, genre.name
    from track
    join genre on
    track.genre_id = genre.id
""");

In [241]:
for i in cur:
    print(i)

('black dog', 'Rock')
('stairway', 'Rock')
('abot to rock', 'Metal')
('who made who', 'Metal')

In [245]:
cur.execute(
""" 
    select Album.title, Track.title
    from Track 
    join Album on Track.album_id = Album.id
""");

In [246]:
for i in cur:
    print(i)

('IV', 'black dog')
('IV', 'stairway')
('who made who', 'abot to rock')
('who made who', 'who made who')

In [235]:
cur.execute(
""" 
    select track.title, artist.name, album.title, genre.name
    From track
    Join artist join album join genre
        on track.album_id = album.id
        and track.genre_id = genre.id
        and album.artist_id = artist.id
""");

In [236]:
for i in cur:
    print(i)

('black dog', 'Led Zepplin', 'IV', 'Rock')
('stairway', 'Led Zepplin', 'IV', 'Rock')
('abot to rock', 'AC/DC', 'who made who', 'Metal')
('who made who', 'AC/DC', 'who made who', 'Metal')

In [247]:
for i in cur:
    print(i)

('adasd', 'Led Zepplin')
('who made who', 'Led asd|')
('IV', 'Led Zepplin')