In [1]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [3]:
sqlite3.version_info

(2, 6, 0)

In [4]:
sqlite3.sqlite_version

'3.21.0'

In [9]:
conn = sqlite3.connect('C:\\Users\\legen\\Desktop\\환의\\데이터진흥원(고대)\\둘쨰주(데이터처리)\\20190708\\DB_1')

In [10]:
cur = conn.cursor()  #conn db에 접속하기위 필요, cur은 conn의 sql 주고받고싶을떄 쓰는 인스턴스 cur만쓴다.

In [20]:
cur.execute("select sqlite_version()")

In [11]:
type(conn)

sqlite3.Connection

In [12]:
dir(conn)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

In [14]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
  여기 잘보기

In [15]:
#execute 하나의 문
#executemany 하나의 쿼리로 연속적인 데이터 집어넣을떄 
#executescript ;이 여러개인 문이 여러개인 애들 실행할때 스크립트'
#fetch all : 전체 결과 리스트 형태로 받아옴 
#fetch one : 하나만
#fetch many : 지정한 갯수만큼

In [17]:
cur.execute("select * from *")

OperationalError: near "*": syntax error

In [25]:
cur.execute("select sqlite_version()")  ## 하나의 문이 끝날라면 ; 이 들어가야 한다. 이게 실행됬었떤 이유 하나의 문이여서 무시하고 실행햇음

In [26]:
cur.fetchall()

[('3.21.0',)]

In [27]:
sqlite3.complete_statement("select sqlite_version();") ## sql 구문이 문법에 맞는지 아닌지(문이 끝났는지 완성됬는지 아닌지) 체크해줌

True

In [28]:
## 데이터 타입 real 부동소수점, blob  large of byte

In [39]:
cur.execute("create table people (name_last, age)")

OperationalError: table people already exists

In [51]:
who = "Yeltsin"

In [52]:
age = 72

In [53]:
cur.execute("insert into people values (?, ?)", (who, age))      ## 관계복잡하면 힘듬

In [54]:
cur.execute("select * from people where name_last=:who and age=:age", {"who": who, "age": age})

In [56]:
print(cur.fetchone())

None

In [85]:
data = [("A", 1), ("B", 1), ("C",1)]
cur.executemany('INSERT INTO people VALUES(? ,?)',data)

In [86]:
dataDict = [{"who":"E","age":1}, {"who":"f", "age":1}]
cur.executemany("INSERT INTO people VALUES(:who, :age)", dataDict)

In [115]:
cur.execute("SELECT * FROM people")
cur.fetchall()

[('Yeltsin', 72),
 ('Yeltsin', 72),
 ('Yeltsin', 72),
 ('Yeltsin', 72),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('A', 1),
 ('B', 1),
 ('C', 1),
 ('E', 1),
 ('f', 1),
 ('C', 3),
 ('C', 3),
 ('C', 3),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('A', 11),
 ('B', 12),
 ('C', 13)]

In [111]:
sql = 'insert into people values (:who, :age);'                             ##sql = "insert into people values (?, ?)"

In [112]:
curDate = [{"who":'A', "age":11}, {"who":'B', "age":12}, {"who": "C", "age":13}]          ##curDate = [('A', 1), ('B', 2), ('C',3)]

In [113]:
cur.executemany(sql, curDate)

In [114]:
cur.fetchall()

[]

In [ ]:
##commit을 하고 이걸 함, select 같이 못씀

In [116]:
cur.executescript("""
    create table person (
        first_name text primary key,
        last_name  text not null
    );
    insert into person values ('name', 'kim');
""")

In [117]:
cur.execute('select * from person')

In [121]:
print(cur.fetchall())

[]

In [119]:
## fetchone()  시퀀스 하나
## cur.fetchmany(size) 사이즈맞게
## cur.fetchall 다가져옴

In [124]:
conn.close()

In [125]:
conn

In [123]:
conn

In [ ]:
############################################################################################

In [306]:
conn = sqlite3.connect('create.db')

In [307]:
cur = conn.cursor()

In [308]:
print("Opened database successfully")

Opened database successfully

In [295]:
cur.execute("""
    CREATE TABLE COMPANY(
        ID INT PRIMARY KEY   NOT NULL,
        NAME           TEXT  NOT NULL,
        AGE            INT   NOT NULL,
        ADDRESS        CHAR(50), 
        SALARY         REAL);
    """)

print("Table created successfully")

Table created successfully

In [292]:
cur.execute('drop table company') ######## 삭제

In [157]:
#####################################

In [309]:

cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
              VALUES (1, 'Paul', 32, 'California', 20000.00)");
cur.lastrowid, conn.total_changes

IntegrityError: UNIQUE constraint failed: COMPANY.ID

In [297]:
conn.commit()

In [298]:
cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
              VALUES (:id, :name, :age, :age, :salary)",
            {'id':2, 'name':'Allen', 'age':25, 'address':'Texas', 'salary':15000.00});


data = [(3, 'Teddy', 23, 'Norway' , 200000.00),
        (4, 'Mark', 25, 'Rich-Mond ', 65000.00)]

cur.executemany("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
                    VALUES (?, ?, ?, ?, ?)", data);

In [299]:
conn.commit()

In [300]:
cur.lastrowid, conn.total_changes

(2, 18)

In [270]:
cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
              VALUES (1, 'Paul', 32, 'California', 20000.00)");
cur.lastrowid
cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
              VALUES (:id, :name, :age, :age, :salary)",
            {'id':2, 'name':'Allen', 'age':25, 'address':'Texas', 'salary':15000.00});


data = [(3, 'Teddy', 23, 'Norway' , 200000.00),
        (4, 'Mark', 25, 'Rich-Mond ', 65000.00)]

cur.executemany("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
                    VALUES (?, ?, ?, ?, ?)", data);

## commit을 스크립트 하기전에 한번 하고 스크립트실행 실행 후에도 한번 더하고
cur.executescript ( """
                    INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
                    VALUES (5, 'Mark1', 25, 'Rich-Mond ', 65000.00);
                    
                    INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)
                    VALUES (6, 'Mark2', 25, 'Rich-Mond ', 65000.00);
                    """);
## commit()이 자동으로 된다. 안쳐도 이미 올라가짐

In [271]:
conn.commit()

In [272]:
cur.lastrowid

2

In [273]:
################## lastrowid 6나와야한다 다 찍어보기

In [274]:
cur = conn.execute("SELECT id, name, address, salary from COMPANY")  ## CUR 가이거를 물고있다는데 쳐야 나오네 나는

In [301]:
cur.execute('select * from company')

In [302]:
for row in cur:  ## fetch를 커서객체로 직접
    print("ID = ", row[0], "TYPE = ", type(row[0]))
    print("NAME = ", row[1]  ,"TYPE = ",type(row[1]))
    print("ADRESS = ", row[2],"TYPE = ", type(row[2]))
    print("SALARY = ", row[3],"TYPE = ", type(row[3]))
    print('\n\n')

ID =  1 TYPE =  <class 'int'>
NAME =  Paul TYPE =  <class 'str'>
ADRESS =  32 TYPE =  <class 'int'>
SALARY =  California TYPE =  <class 'str'>



ID =  2 TYPE =  <class 'int'>
NAME =  Allen TYPE =  <class 'str'>
ADRESS =  25 TYPE =  <class 'int'>
SALARY =  25 TYPE =  <class 'str'>



ID =  3 TYPE =  <class 'int'>
NAME =  Teddy TYPE =  <class 'str'>
ADRESS =  23 TYPE =  <class 'int'>
SALARY =  Norway TYPE =  <class 'str'>



ID =  4 TYPE =  <class 'int'>
NAME =  Mark TYPE =  <class 'str'>
ADRESS =  25 TYPE =  <class 'int'>
SALARY =  Rich-Mond  TYPE =  <class 'str'>

In [192]:
print

In [303]:
####################################################################################

In [310]:
cid = 1

cur.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = :id", {'id':cid})

In [312]:
conn.commit()

In [313]:
######################################################################################

In [316]:
cur.execute("DELETE from COMPANY where ID = 2;")

In [318]:
conn.commit()

In [319]:
############################## connection 여러개 열어서 에러걸리면
##############################  connection도 ttl있다 열고닫고 계쏙 해야함

In [ ]:
######################## executescript 하다가 중간에 에러나면 커밋 안하고  멈추고 롤백한다.

## 덤프 만드는법, 덤프 import, export 이런거 만들면  편함 덤프파일만 주고받고 지네들이 알아서 디비 추가하고 삭제하고 만들면 됨

In [320]:
###       name Text => not null(장르 시간, 앨범 시가 낫 널)