In [2]:
olds.rename({'소재지':'주소'}, axis=1, inplace=True) ## 매퍼 해싱 자료형태 딕셔너리 => 딕셔너리
tips.rename({'size':'_size'}, axis=1, inplace=True)  ## 이름바꾸고 타입 바꾸고

NameError: name 'olds' is not defined

In [ ]:
# 통계적새로운 기법들 R코드로 제출이되서 R쓰인다. 라이브러리화 남이 만든거 구현 개빡셈
# R느리고, 머신러닝안됨 
# 노프리런칭 요즘 알고리즘 빅데이터 기반 알고리즘.

# 시스템화까지 생각하면 파이썬

In [ ]:
## movielens
## pherl 스크립트 pl 이라고 쓴다 데이타 스크립트 sh 셀 스크립트
## 실제는 데이터 수집한쪽이 도메인지식 알려줌 미팅하면서
## tydy data = 각 변수는 하나의 컬럼안에 집어너야 한다, 각각의 관찰ㄹ된 유닛들은 하나의 테이블로 만들어야 한다. pdf참고
## 애는 타이디 데이타로 어느정도 저장되있다.

## info occupation 의미없는 데이터
## genre 도 item 에 다들어있으므로 필요없다.

In [ ]:

import pandas as pd

In [ ]:
info = pd.read_csv('C:\\Users\legen\\Desktop\\환의\\★데이터진흥원(고대)\\4주차 (데이터분석)\\0724\\ml-100k\\u.info',engine='python', header=None, sep=' ') # delimiter = '\t' 둘이 똑같다
## read_csv csv 아니더라도 부를수 있따. 메모장 열수있는거 싹다 readcsv

##실제 데이터 부른게 아님 헤더 넌

In [ ]:
info

In [ ]:
info.rename({1:'table', 0:'number'}, axis =1)

In [ ]:
item = pd.read_csv('C:\\Users\legen\\Desktop\\환의\\★데이터진흥원(고대)\\4주차 (데이터분석)\\0724\\ml-100k\\u.item',header = None, engine='python', delimiter='|' )
## 유니코드 인코딩이되어있지 않다. 
## csv는 , 로 나눠주기 떄문에 ,가 문제 ,체크하지 않고 뭘 사용하겠다?

In [ ]:
item  #
item.rename({0:'movie_id',1:'movie_title', 2:'release_date', 3:'video_release_date', 4:'IMDb URL'}, inplace=True)  ## 이름바꾸고 타입 바꾸고 
#item = item.melt(item.columns[:5],var_name='genre').dropna() # 고정하고싶은애들 4개 # ## re!! var_name 이 저렇게 바뀌나

In [ ]:
item = item.melt(item.columns[:5])

In [ ]:
item[item['movie_id']==0]

In [ ]:
## 이름바꾸기전에 멜트 한번더 타이디 데이터 아니므로
# 숫자로하면 안되고 문자열로바꾸고 해야한다.

In [ ]:
item

In [ ]:
genre = pd.read_csv('C:\\Users\legen\\Desktop\\환의\\★데이터진흥원(고대)\\4주차 (데이터분석)\\0724\\ml-100k\\u.genre',header = None, engine='python', delimiter='|' )
## 유니코드 인코딩이되어있지 않다. 
## csv는 , 로 나눠주기 떄문에 ,가 문제 ,체크하지 않고 뭘 사용하겠다?

In [ ]:
genre.rename({0:'genre'}, axis=1, inplace=True)  ## 이름바꾸고 타입 바꾸고 
genre  ##인덱스 삭제?

In [ ]:
occupation = pd.read_csv('C:\\Users\legen\\Desktop\\환의\\★데이터진흥원(고대)\\4주차 (데이터분석)\\0724\\ml-100k\\u.occupation',header = None, engine='python', delimiter='|' )
## 유니코드 인코딩이되어있지 않다. 
## csv는 , 로 나눠주기 떄문에 ,가 문제 ,체크하지 않고 뭘 사용하겠다?

In [ ]:
occupation.rename({0:'occupation'}, axis=1, inplace=True)  ## 이름바꾸고 타입 바꾸고 

occupation

In [ ]:
user = pd.read_csv('C:\\Users\legen\\Desktop\\환의\\★데이터진흥원(고대)\\4주차 (데이터분석)\\0724\\ml-100k\\u.user',header = None, engine='python', delimiter='|' )
## 유니코드 인코딩이되어있지 않다. 
## csv는 , 로 나눠주기 떄문에 ,가 문제 ,체크하지 않고 뭘 사용하겠다?

In [ ]:
user.rename({0:'user_id', 1:'age',  2:'gender', 3:'occupation', 4:'zip_code'}, axis=1, inplace=True)  ## 이름바꾸고 타입 바꾸고 
user

In [3]:
data = pd.read_csv('C:\\Users\legen\\Desktop\\환의\\★데이터진흥원(고대)\\4주차 (데이터분석)\\0724\\ml-100k\\u.data',header = None, engine='python', delimiter='\t' )
## 유니코드 인코딩이되어있지 않다. 
## csv는 , 로 나눠주기 떄문에 ,가 문제 ,체크하지 않고 뭘 사용하겠다?

In [4]:
data.rename(columns={0:'user_id', 1:'item_id', 2:'rating', 3:'timestamp'}, inplace=True)

In [ ]:
data.merge(user) ## 분리된 테이블 머지로 이너조인 해준다. 
                ## 데이타 프레임 끼리 합칠때는 머지, 
                ## 컬럼들끼리는 join

In [5]:
data.timestamp = pd.to_datetime(data.timestamp, unit='s') ## 기본적으로 판다스는 나노세컨드인데 초단위로 바꿨다 요떄 평점을 매겼다.

In [6]:
data_raw = data.copy()

In [ ]:
data_raw.drop('timestamp',axis=1)

In [7]:
data_raw.drop('timestamp',axis=1)


## sci 컬럼을 인덱스로 언스택 인덱스를 컬럼으로 스택

       user_id  item_id  rating
0          196      242       3
1          186      302       3
2           22      377       1
3          244       51       2
4          166      346       1
5          298      474       4
6          115      265       2
7          253      465       5
8          305      451       3
9            6       86       3
10          62      257       2
11         286     1014       5
12         200      222       5
13         210       40       3
14         224       29       3
15         303      785       3
16         122      387       5
17         194      274       2
18         291     1042       4
19         234     1184       2
20         119      392       4
21         167      486       4
22         299      144       4
23         291      118       2
24         308        1       4
25          95      546       2
26          38       95       5
27         102      768       2
28          63      277       4
29         160      234       5
...        ...      ...     ...
99970      449      120       1
99971      661      762       2
99972      721      874       3
99973      821      151       4
99974      764      596       3
99975      537      443       3
99976      618      628       2
99977      487      291       3
99978      113      975       5
99979      943      391       2
99980      864      685       4
99981      750      323       3
99982      279       64       1
99983      646      750       3
99984      654      370       2
99985      617      582       4
99986      913      690       3
99987      660      229       2
99988      421      498       4
99989      495     1091       4
99990      806      421       4
99991      676      538       4
99992      721      262       3
99993      913      209       2
99994      378       78       3
99995      880      476       3
99996      716      204       5
99997      276     1090       1
99998       13      225       2
99999       12      203       3

[100000 rows x 3 columns]

In [ ]:
temp = data.set_index(['user_id','item_id']).unstack().fillna()

In [ ]:
##############################################

In [ ]:
## 크로스테이블, 피보테이블

In [ ]:
temp =temp.fillna()

In [ ]:
temp

In [ ]:
pd.crosstab(data['광역시도'],data['년'], data['수'], aggfunc='count') ## 내가 원하는 애들 결과값을 빨리 만들어줌

In [ ]:
data.pivot_table('수','년') ## re!  ## 나중에 분석결과 프로젝트 할떄 저거 그래프 들어가야할 애다. 3개중 하나
                            ## 기본이 평균값이므로 평균값이 나왔다