In [19]:
import seaborn as sns

In [20]:
tips = sns.load_dataset('tips')

In [ ]:
# apply , map 잘써야한다
# applymap                  연습!!

In [10]:
tips.sex.map({'Male':1, 'Female':2}) ## 맵은 시리즈에    딕셔너리, 함수써도된다.   ##브로드캐스트
tips.sex.map(lambda x:1 if x=="Male" else 2)  ## 시리즈에 있는 데이터 하나씩 들어옴
        ## 판다스 데이터랭글링 툴, 가져오고, 프로세싱, 보여주고, 간단하게 보여주는거
    ## 맵 
    ## 엑셀에 비해 판다스 쓰는 이유 속도 빠르다
    ## 맵은 시리즈 + 데이터 프레임에 쓸수 있따.
tips = tips.sex.apply(lambda x:1 if x=="Male" else 2)

In [13]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [16]:
tips.apply(lambda x : x['total_bill']+x['tip'], axis=1)   ## 시리즈에 쓸떄는맵하고 똑가다

0      18.00
1      12.00
2      24.51
3      26.99
4      28.20
       ...
239    34.95
240    29.18
241    24.67
242    19.57
243    21.78
Length: 244, dtype: float64

In [21]:
tips.sex.apply(lambda x:1 if x=="Male" else 2)

0      2
1      1
2      1
3      1
4      2
      ..
239    1
240    2
241    1
242    1
243    2
Name: sex, Length: 244, dtype: category
Categories (2, int64): [1, 2]

In [26]:
tips[['total_bill','tip']].applymap(lambda x:x+1)

     total_bill   tip
0         17.99  2.01
1         11.34  2.66
2         22.01  4.50
3         24.68  4.31
4         25.59  4.61
..          ...   ...
239       30.03  6.92
240       28.18  3.00
241       23.67  3.00
242       18.82  2.75
243       19.78  4.00

[244 rows x 2 columns]

In [27]:
tips['ratio'] = tips.apply(lambda x:x['tip']/x['total_bill'], axis=1) ## 비율 넣어서 새로운 축 추가
                                                                    ## 고수들 map, apply 잘씀 -> 전처리하다보면 익숙해짐
                                                                    ## 빨라서 효율적, 차수 늘리면
                                                                    ## 차원이 커지면 차원의 저주 그만큼 데이터가 필요 데이터없으면 학습이 안됨
                                                                    ## 학습 안되면 왜곡된 결과 데이터 많으면 많을수록 무조건 좋음
                                                                    ## + transform

In [28]:
tips

     total_bill   tip     sex smoker   day    time  size     ratio
0         16.99  1.01  Female     No   Sun  Dinner     2  0.059447
1         10.34  1.66    Male     No   Sun  Dinner     3  0.160542
2         21.01  3.50    Male     No   Sun  Dinner     3  0.166587
3         23.68  3.31    Male     No   Sun  Dinner     2  0.139780
4         24.59  3.61  Female     No   Sun  Dinner     4  0.146808
..          ...   ...     ...    ...   ...     ...   ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3  0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2  0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2  0.159744

[244 rows x 8 columns]

In [29]:
###

for i in tips.items():
    print(i)

('total_bill', 0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64)
('tip', 0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64)
('sex', 0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: category
Categories (2, object): [Male, Female])
('smoker', 0       No
1       No
2       No
3       No
4       No
      ...
239     No
240    Yes
241    Yes
242     No
243     No
Name: smoker, Length: 244, dtype: category
Categories (2, object): [Yes, No])
('day', 0       Sun
1       Sun
2       Sun
3       Sun
4       Sun
       ...
239     Sat
240     Sat
241     Sat
242     Sat
243    Thur
Name: day, Length: 244, dtype: category
Categories (4, object): [Thur, Fri, Sat, Sun])
('time', 0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): [Lunch, Dinner])
('size', 0      2
1      3
2      3
3      2
4      4
      ..
239    3
240    2
241    2
242    2
243    2
Name: size, Length: 244, dtype: int64)
('ratio', 0      0.059447
1      0.160542
2      0.166587
3      0.139780
4      0.146808
         ...
239    0.203927
240    0.073584
241    0.088222
242    0.098204
243    0.159744
Name: ratio, Length: 244, dtype: float64)

In [33]:

for i in tips.iterrows():
    print(i)

(0, total_bill        16.99
tip                1.01
sex              Female
smoker               No
day                 Sun
time             Dinner
size                  2
ratio         0.0594467
Name: 0, dtype: object)
(1, total_bill       10.34
tip               1.66
sex               Male
smoker              No
day                Sun
time            Dinner
size                 3
ratio         0.160542
Name: 1, dtype: object)
(2, total_bill       21.01
tip                3.5
sex               Male
smoker              No
day                Sun
time            Dinner
size                 3
ratio         0.166587
Name: 2, dtype: object)
(3, total_bill      23.68
tip              3.31
sex              Male
smoker             No
day               Sun
time           Dinner
size                2
ratio         0.13978
Name: 3, dtype: object)
(4, total_bill       24.59
tip               3.61
sex             Female
smoker              No
day                Sun
time            Dinner
size                 4
ratio         0.146808
Name: 4, dtype: object)
(5, total_bill      25.29
tip              4.71
sex              Male
smoker             No
day               Sun
time           Dinner
size                4
ratio         0.18624
Name: 5, dtype: object)
(6, total_bill       8.77
tip                 2
sex              Male
smoker             No
day               Sun
time           Dinner
size                2
ratio         0.22805
Name: 6, dtype: object)
(7, total_bill       26.88
tip               3.12
sex               Male
smoker              No
day                Sun
time            Dinner
size                 4
ratio         0.116071
Name: 7, dtype: object)
(8, total_bill       15.04
tip               1.96
sex               Male
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.130319
Name: 8, dtype: object)
(9, total_bill       14.78
tip               3.23
sex               Male
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.218539
Name: 9, dtype: object)
(10, total_bill       10.27
tip               1.71
sex               Male
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.166504
Name: 10, dtype: object)
(11, total_bill       35.26
tip                  5
sex             Female
smoker              No
day                Sun
time            Dinner
size                 4
ratio         0.141804
Name: 11, dtype: object)
(12, total_bill       15.42
tip               1.57
sex               Male
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.101816
Name: 12, dtype: object)
(13, total_bill       18.43
tip                  3
sex               Male
smoker              No
day                Sun
time            Dinner
size                 4
ratio         0.162778
Name: 13, dtype: object)
(14, total_bill       14.83
tip               3.02
sex             Female
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.203641
Name: 14, dtype: object)
(15, total_bill      21.58
tip              3.92
sex              Male
smoker             No
day               Sun
time           Dinner
size                2
ratio         0.18165
Name: 15, dtype: object)
(16, total_bill       10.33
tip               1.67
sex             Female
smoker              No
day                Sun
time            Dinner
size                 3
ratio         0.161665
Name: 16, dtype: object)
(17, total_bill       16.29
tip               3.71
sex               Male
smoker              No
day                Sun
time            Dinner
size                 3
ratio         0.227747
Name: 17, dtype: object)
(18, total_bill       16.97
tip                3.5
sex             Female
smoker              No
day                Sun
time            Dinner
size                 3
ratio         0.206246
Name: 18, dtype: object)
(19, total_bill       20.65
tip               3.35
sex               Male
smoker              No
day                Sat
time            Dinner
size                 3
ratio         0.162228
Name: 19, dtype: object)
(20, total_bill       17.92
tip               4.08
sex               Male
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.227679
Name: 20, dtype: object)
(21, total_bill       20.29
tip               2.75
sex             Female
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.135535
Name: 21, dtype: object)
(22, total_bill       15.77
tip               2.23
sex             Female
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.141408
Name: 22, dtype: object)
(23, total_bill       39.42
tip               7.58
sex               Male
smoker              No
day                Sat
time            Dinner
size                 4
ratio         0.192288
Name: 23, dtype: object)
(24, total_bill       19.82
tip               3.18
sex               Male
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.160444
Name: 24, dtype: object)
(25, total_bill       17.81
tip               2.34
sex               Male
smoker              No
day                Sat
time            Dinner
size                 4
ratio         0.131387
Name: 25, dtype: object)
(26, total_bill       13.37
tip                  2
sex               Male
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.149589
Name: 26, dtype: object)
(27, total_bill       12.69
tip                  2
sex               Male
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.157604
Name: 27, dtype: object)
(28, total_bill        21.7
tip                4.3
sex               Male
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.198157
Name: 28, dtype: object)
(29, total_bill       19.65
tip                  3
sex             Female
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.152672
Name: 29, dtype: object)
(30, total_bill        9.55
tip               1.45
sex               Male
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.151832
Name: 30, dtype: object)
(31, total_bill      18.35
tip               2.5
sex              Male
smoker             No
day               Sat
time           Dinner
size                4
ratio         0.13624
Name: 31, dtype: object)
(32, total_bill       15.06
tip                  3
sex             Female
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.199203
Name: 32, dtype: object)
(33, total_bill       20.69
tip               2.45
sex             Female
smoker              No
day                Sat
time            Dinner
size                 4
ratio         0.118415
Name: 33, dtype: object)
(34, total_bill       17.78
tip               3.27
sex               Male
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.183915
Name: 34, dtype: object)
(35, total_bill       24.06
tip                3.6
sex               Male
smoker              No
day                Sat
time            Dinner
size                 3
ratio         0.149626
Name: 35, dtype: object)
(36, total_bill       16.31
tip                  2
sex               Male
smoker              No
day                Sat
time            Dinner
size                 3
ratio         0.122624
Name: 36, dtype: object)
(37, total_bill       16.93
tip               3.07
sex             Female
smoker              No
day                Sat
time            Dinner
size                 3
ratio         0.181335
Name: 37, dtype: object)
(38, total_bill       18.69
tip               2.31
sex               Male
smoker              No
day                Sat
time            Dinner
size                 3
ratio         0.123596
Name: 38, dtype: object)
(39, total_bill       31.27
tip                  5
sex               Male
smoker              No
day                Sat
time            Dinner
size                 3
ratio         0.159898
Name: 39, dtype: object)
(40, total_bill       16.04
tip               2.24
sex               Male
smoker              No
day                Sat
time            Dinner
size                 3
ratio         0.139651
Name: 40, dtype: object)
(41, total_bill       17.46
tip               2.54
sex               Male
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.145475
Name: 41, dtype: object)
(42, total_bill       13.94
tip               3.06
sex               Male
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.219512
Name: 42, dtype: object)
(43, total_bill        9.68
tip               1.32
sex               Male
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.136364
Name: 43, dtype: object)
(44, total_bill        30.4
tip                5.6
sex               Male
smoker              No
day                Sun
time            Dinner
size                 4
ratio         0.184211
Name: 44, dtype: object)
(45, total_bill       18.29
tip                  3
sex               Male
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.164024
Name: 45, dtype: object)
(46, total_bill       22.23
tip                  5
sex               Male
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.224921
Name: 46, dtype: object)
(47, total_bill        32.4
tip                  6
sex               Male
smoker              No
day                Sun
time            Dinner
size                 4
ratio         0.185185
Name: 47, dtype: object)
(48, total_bill        28.55
tip                2.05
sex                Male
smoker               No
day                 Sun
time             Dinner
size                  3
ratio         0.0718039
Name: 48, dtype: object)
(49, total_bill       18.04
tip                  3
sex               Male
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.166297
Name: 49, dtype: object)
(50, total_bill       12.54
tip                2.5
sex               Male
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.199362
Name: 50, dtype: object)
(51, total_bill       10.29
tip                2.6
sex             Female
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.252672
Name: 51, dtype: object)
(52, total_bill       34.81
tip                5.2
sex             Female
smoker              No
day                Sun
time            Dinner
size                 4
ratio         0.149382
Name: 52, dtype: object)
(53, total_bill        9.94
tip               1.56
sex               Male
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.156942
Name: 53, dtype: object)
(54, total_bill       25.56
tip               4.34
sex               Male
smoker              No
day                Sun
time            Dinner
size                 4
ratio         0.169797
Name: 54, dtype: object)
(55, total_bill       19.49
tip               3.51
sex               Male
smoker              No
day                Sun
time            Dinner
size                 2
ratio         0.180092
Name: 55, dtype: object)
(56, total_bill        38.01
tip                   3
sex                Male
smoker              Yes
day                 Sat
time             Dinner
size                  4
ratio         0.0789266
Name: 56, dtype: object)
(57, total_bill        26.41
tip                 1.5
sex              Female
smoker               No
day                 Sat
time             Dinner
size                  2
ratio         0.0567967
Name: 57, dtype: object)
(58, total_bill       11.24
tip               1.76
sex               Male
smoker             Yes
day                Sat
time            Dinner
size                 2
ratio         0.156584
Name: 58, dtype: object)
(59, total_bill       48.27
tip               6.73
sex               Male
smoker              No
day                Sat
time            Dinner
size                 4
ratio         0.139424
Name: 59, dtype: object)
(60, total_bill       20.29
tip               3.21
sex               Male
smoker             Yes
day                Sat
time            Dinner
size                 2
ratio         0.158206
Name: 60, dtype: object)
(61, total_bill       13.81
tip                  2
sex               Male
smoker             Yes
day                Sat
time            Dinner
size                 2
ratio         0.144823
Name: 61, dtype: object)
(62, total_bill       11.02
tip               1.98
sex               Male
smoker             Yes
day                Sat
time            Dinner
size                 2
ratio         0.179673
Name: 62, dtype: object)
(63, total_bill       18.29
tip               3.76
sex               Male
smoker             Yes
day                Sat
time            Dinner
size                 4
ratio         0.205577
Name: 63, dtype: object)
(64, total_bill       17.59
tip               2.64
sex               Male
smoker              No
day                Sat
time            Dinner
size                 3
ratio         0.150085
Name: 64, dtype: object)
(65, total_bill       20.08
tip               3.15
sex               Male
smoker              No
day                Sat
time            Dinner
size                 3
ratio         0.156873
Name: 65, dtype: object)
(66, total_bill       16.45
tip               2.47
sex             Female
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.150152
Name: 66, dtype: object)
(67, total_bill        3.07
tip                  1
sex             Female
smoker             Yes
day                Sat
time            Dinner
size                 1
ratio         0.325733
Name: 67, dtype: object)
(68, total_bill        20.23
tip                2.01
sex                Male
smoker               No
day                 Sat
time             Dinner
size                  2
ratio         0.0993574
Name: 68, dtype: object)
(69, total_bill       15.01
tip               2.09
sex               Male
smoker             Yes
day                Sat
time            Dinner
size                 2
ratio         0.139241
Name: 69, dtype: object)
(70, total_bill       12.02
tip               1.97
sex               Male
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.163894
Name: 70, dtype: object)
(71, total_bill       17.07
tip                  3
sex             Female
smoker              No
day                Sat
time            Dinner
size                 3
ratio         0.175747
Name: 71, dtype: object)
(72, total_bill       26.86
tip               3.14
sex             Female
smoker             Yes
day                Sat
time            Dinner
size                 2
ratio         0.116902
Name: 72, dtype: object)
(73, total_bill       25.28
tip                  5
sex             Female
smoker             Yes
day                Sat
time            Dinner
size                 2
ratio         0.197785
Name: 73, dtype: object)
(74, total_bill       14.73
tip                2.2
sex             Female
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.149355
Name: 74, dtype: object)
(75, total_bill       10.51
tip               1.25
sex               Male
smoker              No
day                Sat
time            Dinner
size                 2
ratio         0.118934
Name: 75, dtype: object)
(76, total_bill       17.92
tip               3.08
sex               Male
smoker             Yes
day                Sat
time            Dinner
size                 2
ratio         0.171875
Name: 76, dtype: object)
(77, total_bill        27.2
tip                  4
sex               Male
smoker              No
day               Thur
time             Lunch
size                 4
ratio         0.147059
Name: 77, dtype: object)
(78, total_bill      22.76
tip                 3
sex              Male
smoker             No
day              Thur
time            Lunch
size                2
ratio         0.13181
Name: 78, dtype: object)
(79, total_bill       17.29
tip               2.71
sex               Male
smoker              No
day               Thur
time             Lunch
size                 2
ratio         0.156738
Name: 79, dtype: object)
(80, total_bill       19.44
tip                  3
sex               Male
smoker             Yes
day               Thur
time             Lunch
size                 2
ratio         0.154321
Name: 80, dtype: object)
(81, total_bill       16.66
tip                3.4
sex               Male
smoker              No
day               Thur
time             Lunch
size                 2
ratio         0.204082
Name: 81, dtype: object)
(82, total_bill       10.07
tip               1.83
sex             Female
smoker              No
day               Thur
time             Lunch
size                 1
ratio         0.181728
Name: 82, dtype: object)
(83, total_bill       32.68
tip                  5
sex               Male
smoker             Yes
day               Thur
time             Lunch
size                 2
ratio         0.152999
Name: 83, dtype: object)
(84, total_bill       15.98
tip               2.03
sex               Male
smoker              No
day               Thur
time             Lunch
size                 2
ratio         0.127034
Name: 84, dtype: object)
(85, total_bill       34.83
tip               5.17
sex             Female
smoker              No
day               Thur
time             Lunch
size                 4
ratio         0.148435
Name: 85, dtype: object)
(86, total_bill       13.03
tip                  2
sex               Male
smoker              No
day               Thur
time             Lunch
size                 2
ratio         0.153492
Name: 86, dtype: object)
(87, total_bill       18.28
tip                  4
sex               Male
smoker              No
day               Thur
time             Lunch
size                 2
ratio         0.218818
Name: 87, dtype: object)
(88, total_bill       24.71
tip               5.85
sex               Male
smoker              No
day               Thur
time             Lunch
size                 2
ratio         0.236746
Name: 88, dtype: object)
(89, total_bill       21.16
tip                  3
sex               Male
smoker              No
day               Thur
time             Lunch
size                 2
ratio         0.141777
Name: 89, dtype: object)
(90, total_bill       28.97
tip                  3
sex               Male
smoker             Yes
day                Fri
time            Dinner
size                 2
ratio         0.103555
Name: 90, dtype: object)
(91, total_bill       22.49
tip                3.5
sex               Male
smoker              No
day                Fri
time            Dinner
size                 2
ratio         0.155625
Name: 91, dtype: object)
(92, total_bill        5.75
tip                  1
sex             Female
smoker             Yes
day                Fri
time            Dinner
size                 2
ratio         0.173913
Name: 92, dtype: object)
(93, total_bill      16.32
tip               4.3
sex            Female
smoker            Yes
day               Fri

In [35]:
for i in tips.iteritems():
    print(i)

('total_bill', 0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64)
('tip', 0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64)
('sex', 0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: category
Categories (2, object): [Male, Female])
('smoker', 0       No
1       No
2       No
3       No
4       No
      ...
239     No
240    Yes
241    Yes
242     No
243     No
Name: smoker, Length: 244, dtype: category
Categories (2, object): [Yes, No])
('day', 0       Sun
1       Sun
2       Sun
3       Sun
4       Sun
       ...
239     Sat
240     Sat
241     Sat
242     Sat
243    Thur
Name: day, Length: 244, dtype: category
Categories (4, object): [Thur, Fri, Sat, Sun])
('time', 0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): [Lunch, Dinner])
('size', 0      2
1      3
2      3
3      2
4      4
      ..
239    3
240    2
241    2
242    2
243    2
Name: size, Length: 244, dtype: int64)
('ratio', 0      0.059447
1      0.160542
2      0.166587
3      0.139780
4      0.146808
         ...
239    0.203927
240    0.073584
241    0.088222
242    0.098204
243    0.159744
Name: ratio, Length: 244, dtype: float64)